body {
  background-color: rgba(104, 104, 104, 0.658);
}

.weight__input {
  width: 300px;
  height: 40px;
  background-color: black;
  outline: none;
  border-radius: 30px;
  color: white;
  padding: 0 20px;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weight__h1 {
  text-align: center;
}

.kg__weight--wrapper,
.lb__weight--wrapper,
.oz__weight--wrapper {
  color: white;
  font-size: 30px;
  margin: 15px 0;
}

.weights__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}